.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .list li a {
    height: 22.5rem;
    width: 18rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color:black;
  }
  
  .image {
    object-fit: cover;
    padding: 15px;
      
  }
  .price{
    font-size: 20px;
    color: chocolate;
  }

  
  