.header {
   background: #b3c44f;
   padding: 0px;
   border-bottom: 1px solid black;
   font-family: 'Times New Roman', Times, serif;
   
 }
 
 /*.header a {
   color: black;
 }*/
 .menu_container a:hover {
   background-color: green;
   color: white;
   cursor: pointer;
  
 }

 .navbar a {
   font-size: 1rem;
   color:black;
   padding: 2rem;
   display: inline-block;
   
}

.navbar a:hover{
   text-decoration: underline;
   color:green;
   cursor: pointer;
}
 
 .container {
   display: flex;
   justify-content: space-between;
 }
 
 .logo {
   font-weight: bold;
   padding: 1rem;
   color: #1026f3;
   font-size: 2rem;
   
}

 
 .header ul {
   display: flex;
   list-style-type: none;
   margin: 0;
 }
 
 .header ul a {
   padding: 1rem;
   display: inline-block;
 }
 
 .menu_container {
   position: relative;
   
 }
 
 .menu {
   position: absolute;
   z-index: 1001;
   background-color:yellowgreen;
   display: none;
   color: red;
   
   
 }
 
 .menu_container:hover .menu {
   display: block;
   
 }
 
 .menu a {
   width: 100%;
   min-width: 8rem;
   
   
 }
 
 .cart_count {
   background-color: #ff4d4d;
   color: white;
   padding: 0.1rem 0.45rem;
   border-radius: 100rem;
   font-size: 0.9rem;
   
 }
 